.header-content {
    min-height: 75vh;
    background: linear-gradient(rgba(75, 176, 223, 0.3), rgba(190, 63, 233, 0.5)), url("../../assets/young-female-reading-book-leaning-shelf.jpg") center/cover no-repeat;
    flex-direction: column;
}
.header-title{
    font-size: 4.2rem;
}
.header-text{
    margin-top: -1.8rem;
    margin-bottom: 2.8rem;
    opacity: 0.8;
    max-width: 770px;
}